/* fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --verde-claro: #51A629;
    --verde-escuro: #053B06;
    --branco: #F7FFF7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--branco);
    flex-direction: column;
    display: flex;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    height: 6em;
}

.logo {
    width: 8em;
}

.menu-lista {
    display: flex;
    padding-right: 3em;
}

.menu-lista a {
    text-decoration: none;
}

.menu-item {
    color: gray;
    font-size: 1.1em;
    list-style-type: none;
    padding-left: .5em;
    cursor: pointer;
    transition: all .5s;
}

.menu-item:hover {
    color: var(--verde-escuro);
}

.barra {
    width: 0.2em;
    height: 1.5em;
    background-color: #8080805c;
    margin-left: 0.5em;
}

.icone-login i {
    color: black;
    background-color: var(--verde-claro);
    border-radius: 50%;
    padding: .9em;
    font-size: 1em;
    cursor: pointer;
}

.titulos-container {
    background: linear-gradient(45deg, #51A629 55%, #053B06);
    color: var(--verde-escuro);
    text-align: center;
    padding: 5em 0;
}

.titulo {
    color: var(--branco);
    font-weight: 400;
    font-size: 4em;
}

.subtitulo {
    color: var(--branco);
    font-weight: 400;
    font-size: 3em;
}

footer {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: center;
    padding: 1em;
    
}